/* TODO

zkusit upravit označený taby ctrl (asi nejde?)

zkusit opravit tab tiles divnej padding (asi nejde?)


modernizace:
ctrl+f (ARC, ZEN?)
speed dial (opera? nebo jinde inspirace, nebo stáhnout extension?)
workspace okénko - vložit bg-picture?
tab tiles okénko - vložit bg-picture?
OZNÁMENÍ KALENDÁŘE
download

kalendář
bookmarks
email
CTRL+E - vložit bg-picture? (Arc, Zen)



změnit ikonku vivaldi: https://forum.vivaldi.net/topic/66940/allow-to-change-vivaldi-icon/4

*/ 

:root {
    --lessTransparent: transparent 50%; /* 50% */
    --customRadius: 8px; /* NOT USING NOW */
}

/* * {
    font-family: Arial;
} */

/* MAINBAR */

#browser.win.address-top .toolbar-mainbar:has(.window-buttongroup.on-mainbar), #browser.linux.address-top .toolbar-mainbar:has(.window-buttongroup.on-mainbar) {
    min-height: calc(44px / var(--uiZoomLevel)); /* HEIGHT OF MAINBAR */
}

.density-on .UrlBar-SearchField, .density-on .UrlBar-AddressField {
    height: 34px; /* HEIGHT OF URL BAR */
}

.disable-titlebar#browser.win .window-buttongroup {
    height: 44px; /* HEIGHT OF WINDOW BUTTONS */
}

#browser.win .window-buttongroup button.window-close { /* ADJUSTING CLOSE WINDOW BUTTON */
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius); 
}

.mainbar {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF WHOLE MAINBAR */
    margin: 5px;
    border-radius: var(--radius);
}

.SearchField, .UrlBar-AddressField { /* SEARCHBAR SETTINGS */
    border: none !important;
    background-color: transparent;
}

.SearchField:hover, .UrlBar-AddressField:hover { /* HOVER OF SEARCHBAR */
    background-color: var(--colorBg);
    /* border-radius: var(--customRadius); */
}

.color-behind-tabs-on .SearchField:focus-within, .color-behind-tabs-on .MailSearchField-Inner:focus-within, .color-behind-tabs-on .UrlBar-AddressField:focus-within {
    outline: none; /* REMOVE OF SEARCHBAR BORDER WHEN IN FOCUS */
    background-color: var(--colorBg);
    /* border-radius: var(--customRadius); */
}

.UrlFragment-Wrapper--ShouldHighlight {
    --HighlightColor: var(--colorFg); /* FONT COLOR OF www.GOOGLE.com */
    --LowlightColor: var(--colorFg); /* FONT COLOR OF WWW.google.COM */
}

.address-top .mainbar {
    border-bottom: none; /* REMOVE BORDER UNDER MAINBAR */
}

.mainbar button:hover { /* HOVER OF MAINBAR BUTTONS */
    background-color: var(--colorBg);
}

.page-zoom-controls > .button-toolbar > button, .disable-titlebar .toolbar-mainbar > .button-toolbar > button, .disable-titlebar .toolbar-mainbar .toolbar-extensions > .toolbar-group > .button-toolbar > button, .disable-titlebar .toolbar-mainbar .page-zoom-controls > .toolbar-group > .button-toolbar > button, .disable-titlebar .toolbar-mainbar > .toolbar-group > .button-toolbar > button {
    /* border-radius: var(--customRadius); */ /* RADIUS OF SOME MAIN BAR ICONS */
}

#browser:not(.tabs-top) .vivaldi:hover, #browser:not(.tabs-top) .vivaldi:focus-visible { /* HOVER OF HAMBURGER BUTTON */
    background-color: var(--colorBg);
}

.disable-titlebar.address-top#browser:not(.tabs-top) .vivaldi {
    /* border-radius: var(--customRadius); */ /* RADIUS OF HAMBURGER ICON */
    margin: 0 5px; /* REDUCING SPACE NEXT TO HAMBURGER */
}

button.ToolbarButton-Button[name="TilingToggle"] { /* FIXING SPACE NEXT TO TAB TILING ICON */
    margin-left: 3px;
    margin-right: 4px;
}

.toolbar > .button-toolbar.button-on, .toolbar > .toolbar-group .button-toolbar.button-on, .toolbar > .button-toolbar > .button-on.button-on, .toolbar > .toolbar-group .button-toolbar > .button-on.button-on {
    fill: var(--colorFg); /* CHANGING COLOR FROM HIGHLIGHT */
    color: var(--colorFg);
}

.color-behind-tabs-on .toolbar-mainbar .toolbar-extensions > .button-toolbar > button.button-pressed, .color-behind-tabs-on .toolbar-mainbar .page-zoom-controls > .button-toolbar > button.button-pressed, .color-behind-tabs-on .toolbar-mainbar > .button-toolbar > button.button-pressed {
    background-image: linear-gradient(var(--colorBg),var(--colorBg)); /* CHANGE COLOR WHEN ICON IS ACTIVE */
}

.theme-dark#browser.win .window-buttongroup button:hover {
    background-color: var(--colorBg); /* HOVER OF WINDOW BUTTONS */
}

.button-toolbar > button { /* HOVER OF ICONS IN URL */
    border: none;
}

.BookmarkButton:hover { /* HOVER OF BOOKMARK BUTTON IN URL */
    border-color: transparent;
}

/* SIDEBAR */

#switch {
    padding-top: 5px; /* ADJUSTING SPACE ABOVE SIDEBAR ICONS */
}

div#main.right #panels-container {
    padding-bottom: 5px;
}

div#main.left #panels-container {
    padding-bottom: 5px;
}

.density-on div#main.right #switch {
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    border-radius: var(--radius);
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.density-on div#main.left #switch {
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    border-radius: var(--radius);
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 6px;
}

div#main.right #panels-container {
    background-color: transparent;
}

div#main.right #panels-container {
    margin-right: 5px;
}

div#main.left #panels-container {
    margin-left: 5px;
}

div#main.right #panels .webpanel-stack .webpanel .webpanel-content {
    margin-right: 7px;
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

div#main.left #panels .webpanel-stack .webpanel .webpanel-content {
    margin-left: 7px;
    border-bottom-left-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

#panels-container.right:not(.icons) .panel-group, #panels-container.right.icons:not(:has(.SlideBar)) {
    border-left: none;
}

#panels-container.left:not(.icons) .panel-group, #panels-container.left.icons:not(:has(.SlideBar)) {
    border-right: none;
}

#panels-container.overlay .panel-group {
    background-color: transparent; /* TRANSPARENT BG WHEN OPENED WEB APP */
}

.ExtensionToggleIcon.ExtensionToggleIcon--Expanded {
    background-color: transparent; /* TRANSPARENT BG COLOR FROM EXTENSION BUTTON */
}

.ExtensionIcon--Hidden { /* ADJUSTING HIDDEN EXTENSIONS */
    background-color: transparent;
    /* border-radius: var(--customRadius); */
}

#panels-container button:hover { /* HOVER OF BUTTONS ON SIDEBAR */
    background-color: var(--colorBg);
    /* border-radius: var(--customRadius); */
}

.ExtensionIcon--Hidden:hover, .ExtensionIcon--Hidden:active { /* HOVER OF HIDDEN EXTENSIONS */
    background-color: var(--colorBg);
    border-radius: var(--radius);
}

.density-on#browser .toolbar-vertical .button-toolbar:not(:last-of-type) { /* ADJUSTING HIDDEN EXTENSIONS HOVER */
    padding-bottom: 0px;
    height: 34px;
}

.toolbar-panel > .button-toolbar > button.button-pressed, .toolbar-panel .toolbar-extensions .button-toolbar > button.button-pressed, .toolbar-panel .page-zoom-controls .button-toolbar > button.button-pressed {
    background-color: var(--colorBg); /* CHANGING BG COLOR AND ICON COLOR WHEN DOWNLOAD ICON IS ACTIVE */
}

.density-on #switch .addwebpanel-wrapper > button.active button, .density-on #switch > .button-toolbar.active button, .density-on #switch > * > .button-toolbar.active button, .density-on #switch > button.active button {
    background-color: var(--colorBg); /* CHANGING BG COLOR AND ICON COLOR WHEN BOOKMARK ICON IS ACTIVE */
}

/* WORKSPACES */

.color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar, .color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar, .color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar:hover, .color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar:hover {
    color: var(--colorFg);
    margin-top: 5px;
    /* border-radius: var(--radius); */
} /* ADJUSTING WORKSPACE BUTTON */

.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button, .tabs-right .button-toolbar.workspace-popup.tabbar-workspace-button {
    background-color: transparent; /* BG OF WORKSPACE BUTTON */
}

#tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar > button:active, #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar > button:active, #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar:not(.toolbar-spacer, .toolbar-spacer-flexible) > button:not([disabled]):hover, #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar:not(.toolbar-spacer, .toolbar-spacer-flexible) > button:not([disabled]):hover {
    background-color: var(--colorBg); /* HOVER OF WORKSPACES */
}

.tabs-left #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-before, .tabs-left #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-after, .tabs-right #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-before, .tabs-right #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-after {
    padding: 0px 0px 3px 3px; /* FIXING SPACE WHEN MANY TABS */
}

/* TABS */

#browser .tabbar-wrapper, #browser.tabs-top #header {
    background-color: transparent; /* BG COLOR OF TAB BAR PART 1 */
}

#browser:not(.transparent-tabbar) #tabs-tabbar-container {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF TAB BAR PART 2 */
    margin-left: 5px;
    border-radius: var(--radius);
}

/* Force full expansion when no panels visible */
body:not(:has(#panels-container)) #tabs-tabbar-container {
    margin-left: 0px !important;
}

body:not(:has(div#main.left #panels-container)) #tabs-tabbar-container {
    margin-left: 0px !important;
}

body:not(:has(div#main.right #panels-container)) #tabs-tabbar-container {
    margin-right: 0px !important;
}


div#main.left #panels-container {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    border-radius: var(--radius);
}


.tabs-left .tabbar-wrapper { /* BG COLOR OF TAB BAR PART 3 */
    margin-bottom: 5px;
}

.color-behind-tabs-on .tab {
    color: var(--colorFg); /* FONT COLOR OF NON ACTIVE TAB */
}

.density-on .tab.active:not(.tab-in-accordion, .tab-accordion) {
    box-shadow: none; /* REMOVE SHADOW UNDER ACTIVE TAB */
}

.tabs-left .tab-audio, .tabs-right .tab-audio { /* AUDIO ICON */
    margin-left: 5px; 
    margin-top: -1px;
}

.separator hr { /* ADJUSTING SEPARATOR UNDER PINNED TABS */
    /* border: 1px solid color-mix(in srgb, var(--colorBg), var(--lessTransparent)); */
    border: 1px solid color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    background: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    opacity: 0.5;
    width: 100%;
    margin-top: 6px;
} 

@media not (prefers-contrast: more) { /* HIDE TAB SCROLLBAR */
    ::-webkit-scrollbar {
      display: none;
    }
}

#tabs-container.left:has(.tab-strip.overflow), #tabs-container.right:has(.tab-strip.overflow) {
    padding-right: 3px; /* FIXING SPACE NEXT TO TAB WHEN MANY TABS */
}

#tabs-tabbar-container {
    padding: 0px 2px 0px 2px;  /* ADDING SPACE NEXT TO TABS */
}

#browser.color-behind-tabs-on .tab.active.active { /* BG OF ACTIVE TAB */
    background-color: var(--colorBg);
}

#tabs-container .tab:not(.tab-group,.tab.active):hover { /* HOVER OF TABS */
    background-color: var(--colorBg);
}

#browser:not(.theme-dark) #tabs-tabbar-container.left { /* HIDE WEIRD BORDER BETWEEN TAB SECTION AND WEB PAGE */
    box-shadow: none;
}

.tab.active .favicon {
    filter: none !important; /* HIDE FAVICON WHITE BORDER */
}

.svg-tab-stack .stack-frame { /* BORDER COLOR OF TAB GROUP */
    /* stroke: transparent; */
/*  stroke-width: 2px; */
} 

#browser .tab-position.colored .tab:not(.active) {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));  /* BG COLOR OF TAB GROUP  */
    color: var(--colorFg);
}

#browser .tab-position.colored.accordion-toggle-arrow:hover, #browser .tab-position.colored .tab:not(.active):hover {
    background-color: var(--colorBg);  /* BG COLOR OF HOVER TAB IN GROUP */ 
}

#browser .tab-position.colored.accordion-toggle-arrow, #browser .tab-position.colored .tab.active {
    background-color: var(--colorBg);  /* BG COLOR OF ACTIVE TAB IN GROUP */ 
} 

#browser .tab-position.colored.accordion-toggle-arrow { /* ARROW SETTINGS */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    color: var(--colorFg);
}

#browser .tab-position.colored .tab:not(.marked) + svg .stack-frame {
    stroke: transparent; /* BORDER COLOR OF TAB GROUP */
}

#browser .tab-position.colored .stack-counter {
    background-color: var(--colorHighlightBg); /* BG COLOR OF TAB GROUP NUMBER */
}

.tabs-left #tabs-container .toolbar-tabbar-after, .tabs-right #tabs-container .toolbar-tabbar-after {
    margin-top: 13px; /* ADJUSTING NEW TAB ICON */
    margin-bottom: 2px;
}

/* NEW TRASH + CLOUD ICONS */

button.ToolbarButton-Button[name="TabsTrash"] span,
button.ToolbarButton-Button[name="SyncedTabs"] span {
    display: none !important;
}

button.ToolbarButton-Button[name="TabsTrash"]::after,
button.ToolbarButton-Button[name="SyncedTabs"]::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    background-color: var(--colorFg);
}

button.ToolbarButton-Button[name="TabsTrash"]::after {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d='M832 384H192v448h640V384zM96 320h832V128H96v192zm800 64v480a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V384H64a32 32 0 0 1-32-32V96a32 32 0 0 1 32-32h896a32 32 0 0 1 32 32v256a32 32 0 0 1-32 32h-64zM416 512h192a32 32 0 0 1 0 64H416a32 32 0 0 1 0-64z'/></svg>");
}

button.ToolbarButton-Button[name="SyncedTabs"]::after {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d=\'M737.216 357.952 704 349.824l-11.776-32a192.064 192.064 0 0 0-367.424 23.04l-8.96 39.04-39.04 8.96A192.064 192.064 0 0 0 320 768h368a207.808 207.808 0 0 0 207.808-208 208.32 208.32 0 0 0-158.592-202.048zM752.384 295.731a272.32 272.32 0 0 1 207.36 264.269 271.808 271.808 0 0 1-271.552 272H320a256 256 0 0 1-57.536-505.536 256.128 256.128 0 0 1 489.92-30.72z\'/></svg>");
}

button.ToolbarButton-Button[name="SyncedTabs"]::before {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d=\'M737.216 357.952 704 349.824l-11.776-32a192.064 192.064 0 0 0-367.424 23.04l-8.96 39.04-39.04 8.96A192.064 192.064 0 0 0 320 768h368a207.808 207.808 0 0 0 207.808-208 208.32 208.32 0 0 0-158.592-202.048zM752.384 295.731a272.32 272.32 0 0 1 207.36 264.269 271.808 271.808 0 0 1-271.552 272H320a256 256 0 0 1-57.536-505.536 256.128 256.128 0 0 1 489.92-30.72z\'/></svg>");
}

button.ToolbarButton-Button[name="SyncedTabs"] span::before {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d=\'M737.216 357.952 704 349.824l-11.776-32a192.064 192.064 0 0 0-367.424 23.04l-8.96 39.04-39.04 8.96A192.064 192.064 0 0 0 320 768h368a207.808 207.808 0 0 0 207.808-208 208.32 208.32 0 0 0-158.592-202.048zM752.384 295.731a272.32 272.32 0 0 1 207.36 264.269 271.808 271.808 0 0 1-271.552 272H320a256 256 0 0 1-57.536-505.536 256.128 256.128 0 0 1 489.92-30.72z\'/></svg>");
}

#tabs-container .toolbar-tabbar-before > div > .button-toolbar > button, #tabs-container .toolbar-tabbar-after > div > .button-toolbar > button, #tabs-container .toolbar-tabbar-before > .button-toolbar > button, #tabs-container .toolbar-tabbar-after > .button-toolbar > button {
   /*  border: unset; */
    height: 34px;
    min-width: 34px;
    padding: 0;
    /* border-radius: var(--radius); */
} /* BIGGER HOVER EFFECT OF TRASH AND CLOUD */

/* INNER ROUND BORDERS */

#browser:not(.fullscreen) #webpage-stack {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 5px; 
}

/* TAB TILES MODE */

#browser .tile:has(> .tiled.webpageview) {
    border: var(--mosaicPadding) solid transparent; /* FIXING TAB TILES PART 1 */
}

#browser:not(.inner, .narrow-tiling) #webpage-stack > .tiled.visible {
    box-shadow: inset 0 0 0 var(--n6) transparent; /* FIXING TAB TILES PART 2 */
}

.tiled.webpageview:not(.active) {
    box-shadow: none; /* FIXING TAB TILES PART 3 */
}

#browser:not(.inner, .narrow-tiling) #webpage-stack > .tiled.visible {
    padding: 0; /* FIXING TAB TILES PART 4 */
}

.hasfocus .webpageview.tiled.active {
    box-shadow: 0 0 0 2px var(--colorHighlightBg); /* CHANGING COLOR OF BORDER OF ACTIVE WHEN BROWSER IS FOCUSED */
}

.isblurred .webpageview.tiled.active {
    box-shadow: 0 0 0 2px var(--colorHighlightBg); /* CHANGING COLOR OF BORDER OF ACTIVE WHEN BROWSER ISNT FOCUSED */
}

/* SPEED DIAL */

.SpeedDial--Thumbnail { /* BG COLOR OF TITLE */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    box-shadow: none;
    /* border-radius: var(--customRadius); */
}

/* BOOKMARKS PANEL */

.panel-bookmarks .panel-bookmarks-edit {
    padding-right: 12px;
}

/* DOWNLOAD WINDOW */

.download-editor.download-editor {
    padding: 0px 12px 0px 0px;
}

/* CALENDAR PANEL */

.panel {
    padding-right: 8px;
}

.panel .calendar-grid-agenda {
    padding-right: 12px;
}

#panels-container.right .panel {
    padding-left: 0px;
}

#panels-container.left .panel {
    padding-right: 0px;
}

.MonthDayPicker {
    margin-bottom: 0px;
}

/* MAIL PANEL */

.VivaldiList-Offset {
    padding-right: 12px;
}

/* CTRL+F */

.find-in-page-wrapper {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF CTRL F */
}

input[type=tel], input[type=text], input[type=search], input[type=email], input[type=url], input[type=date], input[type=time], input[type=password], input[type=number] {
    box-shadow: none; /* REMOVE SHADOW FROM SEARCH BAR */
}

button, input, select, textarea, input[type=text], input[type=search], input[type=password], input[type=email], input[type=url], input[type=number], input[type=radio], input[type=date], input[type=time], input[type=checkbox], input[type=button], input[type=submit] {
    border-color: transparent; /* REMOVE BORDER FROM SEARCH BAR */
}

input, select, textarea, .dateInput input[type=date], .dateInput input[type=time] {
    background-color: var(--colorBg); /* CHANGING BG COLOR OF SEARCH BAR */
}

:focus-visible {
    outline: none; /* REMOVING OUTLINE FROM FOCUSED SEARCH BAR */
}

input[type=radio], input[type=checkbox] {
    /* box-shadow: none; */ /* REMOVE SHADOW FROM CHECKBOX */
}

.theme-dark input[type=radio], .theme-dark input[type=checkbox] {
    background-image: none;
}

/* WORKSPACE POPUP */

/* .theme-dark .WorkspacePopup {
    background-color: transparent;
    background-image: url(12.png);
    background-position: right;
} */
